#Baselogo{
  width: 4.5rem;
  margin-left: 1rem;
}

#userPhoto{
  background-color: #eaeaea;
  border-radius: 50%;
  padding: 0;
  width: 10rem;
  height: 10rem;
  margin-top: 2rem;
  border: 4px solid #ffffff;
  font-size: 5.5rem;
  margin-left: 2rem;
  text-align: center;
  /* padding-left: 1rem; */
  padding-top: .3rem;
}

.socialNav>a>i{
  color: #ffffff !important;
}
.socialNav{
  display: -webkit-inline-box !important;
}

.sideNavStyle{
  list-style-type: none;
  padding: 0;
}

.baseNav{
  background-color: #5172a1 !important;
}

.burguer{
  margin-right: 1rem !important;
}

.burguerColor{
  color: rgb(255, 94, 0) !important;
}

.BtnExit{
  border-radius: 4%;
  height: 2.5rem;
  width: 7rem;
  background-color: #5172a1;
  padding-top: 10px !important;
}

.searchB{
  margin-right: 0 !important;
}

.landOnedu{
  display: -webkit-inline-box;
}

.baseFont{
  font-size: 1.3rem !important;
}

.backColor{
  background-color: #e3e3e3;
}

.textOnedu{
  font-weight: 500;
  color: #5172a1;
}

.linknet{
  padding-top: .7rem;
}

.terms{
  color: #fff !important;
}


/*Medias queries*/
@media all and (max-width: 480px) and (min-width: 1px) {
  .baseSearch{
    width: 14rem;
  }
}
