.hideRelated{
  display: none;
}

.careers_related{
  margin-top: 3rem;
  border-radius: .23rem;
  background-color: #ffffff;
}

.relatedCareer{
  cursor: pointer;
}

.infoCareer:hover{
  color: #5172a1;
  font-weight: 600;
}

#currentCarrer{
  color: rgb(57, 156, 95);
  font-weight: 500;
  display: block !important;
  margin-right: .5rem;
}

.careers_related>div>h2{
  font-weight: 500;
  font-size: 3rem;
}
.careers_related>div>p{
  letter-spacing: .5px;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0;
  cursor: pointer;
}

.modal-content{
  width: 33rem;
}

.aptBtn{
  border-radius: .23rem;
  background-color: #5172a1 !important;
}

.careerNameCont{
  margin-left: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

/**/

.charCont{
margin-top: 9rem;
}

.backCont{
  margin-top: 9rem;
}

.related-description{
  margin-top: 3rem;
  background-color: #ffffff;
  border-top: 5px solid #f4c945;
  border-radius: .23rem;
  height: 7rem;
}

.related-description>select{
  outline: none;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  border: 2px solid #d1d1d1;
  color: #686868;
  padding-left: 1rem;
  font-weight: 100;
  border-radius: .23rem;
}

.related-description>label{
  letter-spacing: .5px;
  color: #686868;
  padding-left: 7rem;
  margin-top: 1rem;
}

.parentCol{
  padding-left: 0;
  padding-right: 0;
}

.parentCol>div{
  box-shadow: none;
  background-color: #eaeaea;
  cursor: pointer;
}

.contDesc{
  margin-top: 2rem;
  margin-bottom: 0;
  border-radius: .23rem;
  height: 5rem;
}

.jumbotron>div{
  display: inline-block;
  background-color: red;
  height: 5rem;
  width: 11rem;
}

.jumbotron>div>p{
  padding: 2rem;
}

.colExplanation{
  padding-left: 0;
  padding-right: 0;
}

.relatedCont{
  background-color: #ffffff;
  margin-bottom: 1rem;
}

.explanationCont>div{
  margin-top: 1.7rem;
  margin-left: 4.39rem;
  background-color: #ffffff;
  width: 9rem;
  height: 9rem;
  display: inline-block;
  margin-bottom: .6rem;
}

.explanationCont>div>img{
  width: 100%;
  margin-bottom: .8rem;
}

.explanationCont>p{
  padding-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: left;
  font-weight: 500;
}

.explanationCont{
  background-color: #ffffff;
  margin-bottom: 1rem;
  /*height: 20rem;*/
}

/**/

.schoolInfo>div>h2{
  font-weight: 400;
  margin-top: 2rem;
}

.schoolInfo>div>p{
  margin-bottom: 0;
  font-weight: 300;
}

.schoolInfo>div{
  margin-left: 2rem;
}

.schoolInfo{
  margin-top: 3rem;
  background-color: #ffffff;
  display: -webkit-box;
}

.schoolInfo>img{
  margin-left: 1rem;
  width: 9rem;
  margin-top: 1rem;
  margin-bottom: 1rem
}

.likeZone>i{
  position: absolute;
  right: 3rem;
  bottom: 7rem;
}

.likeUni{
  color: #7c7c7c;
}

.schoolOptions{
  background-color: #7c7c7c;
}

.schoolOptions>div{
  color: #ffffff;
  /*text-align: center;*/
}

.schoolOptions>.row>.col-md-4{
  margin-top: .5rem;
  margin-bottom: .5em;
  padding-left: 4.5rem;
  /*text-align: center;*/
}

/*color de opciones activas*/
.schoolOptions>.row>.col-md-4>div:hover{
  background-color: #6f6f6f !important;
  height: 1.5rem !important;
  width: 14rem !important;
  border-radius: .25rem !important;
}

.schoolOptions>.row>.col-md-4>div>a{
  font-weight: 300;
  padding-left: .4rem;
}

.UniOptDescription{
  background-color: #454545;
  color: #ffffff;
  margin-bottom: 2rem;
}

.UniOptDescription>.row>.col-md-4{
  display: inline-grid;
  font-size: 1.4rem;
  font-weight: 300;
}

.UniOptDescription>.row>.col-md-4>a{
  margin-left: 4rem;
  margin-top: .6rem;
}

.UniOptDescription>.row>.col-md-4>a:first-child{
  margin-top: 3rem;
}

.UniOptDescription>.row>.col-md-4>a:last-child{
  margin-bottom: 3rem;
}

.namePlans{
  padding-top: 2rem;
  min-height: 23rem;
  text-align: center;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

#titles{
  min-height: 15rem;
  text-align: center;
  display: flex;
  justify-items: center;
  align-items: center;
}

.alingH2{
  margin: 0 auto;
}

/**/

.mapCont{
  margin-top: 3rem;
  border-top: .5rem solid #f4c945;
  background-color: #ffffff;
  height: 75vh;
  margin-bottom: 3rem;
}

.mapCont>p{
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.mapCont>iframe{
  padding-left: 3.5rem;
}

#map {
  height: 100%;
}
