.hideCareers{
  display: none;
}

/*
Carreras
*/
.btnMessage{
  background-color: #5172a1;
  margin-left: 0;
}

.relatedCareer{
  cursor: pointer;
}

.infoCareer:hover{
  font-weight: 600;
  color: #5172a1;
  cursor: pointer !important;
}

#currentCarrer{
  color: rgb(57, 156, 95);
  font-weight: 500;
  display: block !important;
  margin-right: .5rem;
}

.careersCont{
  margin-top: 10rem;
  border-radius: .23rem;
  background-color: #ffffff;
}

.careerNameCont{
  margin-left: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

.careerNameCont>p{
  letter-spacing: .5px;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0;
}

.careerNameCont>h2{
  font-weight: 500;
  font-size: 3rem;
}

.careerNameRelated>h2{
  font-weight: 500;
  font-size: 3rem;
}

.available-universities{
  margin-top: 3rem;
  background-color: #ffffff;
  border-top: 5px solid #f4c945;
  border-radius: .23rem;
  padding: 1rem;
}

.backSecond{
  margin-top: 9rem;
}

.back{
  border-radius: .23rem;
}

/*
Descripcion de carreras
*/

.available-universities>select{
  outline: none;
  background-color: transparent;
  border: 2px solid #d1d1d1;
  color: #686868;
  padding-left: 1rem;
  font-weight: 100;
  border-radius: .23rem;
}

.available-universities>label{
  letter-spacing: .5px;
  color: #686868;
}

.jumbotron>div{
  display: inline-block;
  background-color: red;
  height: 5rem;
  width: 11rem;
}

.jumbotron>div>p{
  padding: 2rem;
}

.contDesc{
  margin-top: 2rem;
  margin-bottom: 0;
  border-radius: .23rem;
  height: 5rem;
}

.parentCol{
  padding-left: 0;
  padding-right: 0;
}

.parentCol>div{
  box-shadow: none;
  background-color: #eaeaea;
  cursor: pointer;
  box-sizing: border-box;
  font-size: .7rem;
  text-align: center;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.colExplanation{
  padding-left: 0;
  padding-right: 0;
}

.explanationCont{
  background-color: #ffffff;
  padding: 2rem !important;
}

.relatedCont{
  background-color: #ffffff;
  margin-bottom: 1rem;
}

.explanationCont>div{
  /* margin-top: 1.7rem; */
  /* margin-left: 1rem; */
  background-color: #ffffff;
  width: 9rem;
  height: 9rem;
  display: inline-block;
  /* margin-bottom: .6rem; */
  padding: .5rem;
}

.explanationCont>div>img{
  width: 100%;
  /* margin-bottom: .8rem; */
}

.explanationCont>p{
  /* padding-top: 2rem;
  margin-right: 2rem;
  font-weight: 500; */
}

/*
descripcion de escuelas
*/

#titles{
  min-height: 15rem;
  text-align: center;
  display: flex;
  justify-items: center;
  align-items: center;
}

.contMat{
  min-height: 15rem;
  align-items: center;
}

.planselect{
  cursor: pointer;
}

.namePlans{
  padding-top: 2rem;
  min-height: 23rem;
  text-align: center;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.alingH2{
  margin: 0 auto;
}

.schoolInfo{
  margin-top: 3rem;
  background-color: #ffffff;
  display: -webkit-box;
}

.schoolInfo>img{
  margin-left: 1rem;
  width: 9rem;
  margin-top: 1rem;
  margin-bottom: 1rem
}

.likeUni{
  color: #7c7c7c;
}

.schoolInfo>div{
  margin-left: 2rem;
}

.likeZone>i{
  position: absolute;
  right: 3rem;
  bottom: 1rem;
  cursor: pointer;
}

.schoolInfo>div>h2{
  font-weight: 400;
  margin-top: 2rem;
}

.schoolInfo>div>p{
  margin-bottom: 0;
  font-weight: 300;
}

.schoolOptions{
  background-color: #7c7c7c;
}

.schoolOptions>div{
  color: #ffffff;
  /*text-align: center;*/
}

.schoolOptions>.row>.col-md-4{
  margin-top: .5rem;
  margin-bottom: .5em;
  padding-left: 4.5rem;
  /*text-align: center;*/
}

/*color de opciones activas*/
.schoolOptions>.row>.col-md-4>div:hover{
  background-color: #6f6f6f !important;
  height: 1.5rem !important;
  width: 14rem !important;
  border-radius: .25rem !important;
}

.schoolOptions>.row>.col-md-4>div>a{
  font-weight: 300;
  padding-left: .4rem;
}

.UniOptDescription{
  background-color: #454545;
  color: #ffffff;
  margin-bottom: 2rem;
}

.UniOptDescription>.row>.col-md-4{
  display: inline-grid;
  font-size: 1.4rem;
  font-weight: 300;
}

.UniOptDescription>.row>.col-md-4>a{
  margin-left: 4rem;
  margin-top: .6rem;
}

.UniOptDescription>.row>.col-md-4>a:first-child{
  margin-top: 3rem;
}

.UniOptDescription>.row>.col-md-4>a:last-child{
  margin-bottom: 3rem;
}

.contMat>h2{
  font-size: 2.5rem;
  padding-top: 3rem;
  font-weight: 400;
}

.contMat>p:first-of-type{
  padding-top: 1.5rem;
}

.contMat>p{
  margin-bottom: .5rem;
  font-size: 1.2rem;
}

.mapCont{
  margin-top: 3rem;
  border-top: .5rem solid #f4c945;
  background-color: #ffffff;
  height: 75vh;
  margin-bottom: 3rem;
}

.mapCont>p{
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.mapCont>iframe{
  padding-left: 3.5rem;
}

#map {
  height: 100%;
}

@media (min-width: 1366px){
  #slide-out{
    transform: translateX(0%) !important;
  }

  .navbar{
    padding-left: 240px !important;
  }
}

.careerNameRelated{
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
}
