.infoHide{
  display: none;
}

#infoCont{
  margin-top: 3rem;
}

.btnCancel{
  border-radius: .23rem;
}

.backSec{
  background-color: rgb(81, 114, 161);
  border-radius: .23rem;
}

.titles{
  background-color: #ffffff;
  margin-top: 2rem;
  height: 14rem;
  text-align: center;
}

.titlePlan{
  height: 7.5rem !important;
}

.titles>input{
  margin: 2rem;
  width: 80%;
  background-color: #eaeaea;
}

.titles>label{
  padding-left: 6rem;
}

.card{
  text-align: center;
  height: 3rem;
  width: 9rem;
  padding-top: 1rem;
  border-radius: .23rem;
  margin-bottom: 1rem;
  cursor: pointer;
  color: #ffffff;
  background-color: #d5d2d2;
}

.infoCareer{
  margin-top: 9rem;
  background-color: #ffffff;
  height: auto;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  border-radius: .23rem;
}

.infoCareer>div{
  margin-top: 1rem;
}

/*=======*/

.contTable{
  background-color: #ffffff;
  margin-top: 4rem;
  padding-bottom: 2rem;
  border-radius: .23rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

thead{
  background-color: #399c5f;
  color: #ffffff;
  border-radius: .23rem;
}

.btnDetails{
  background-color: #5172a1;
}

.btnDelete{
  background-color: #b53625;
}

.btnCont>button{
  background-color: #5172a1;
}

.addPlan>a{
  background-color: #399c5f !important;
}
.btnBack>button{
  background-color: #399c5f !important;
}
